<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="sourceCode.Listeners"/>
    </listeners>
    <test name="Validating first Searched Link Text via search engine">
        <classes>
            <class name="test.validateSearchPageContentTest"/>
        </classes>
    </test>
</suite> <!-- Suite -->